/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f6f5f3;
}
img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}

/* UTILITY */

.debug,
.debug * {
  min-height: 50px;
  padding: 5px;
  background-color: #ff000022;
  border: 2px dashed red;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

[class*="col"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.col {
  width: 100%;
}

section {
  margin: 35px 0;
}

.fa-facebook {
  color: #4267b2;
}
.fa-twitter {
  color: #1da1f2;
}
.fa-instagram {
  color: #c13584;
}
.fa-pinterest {
  color: #e60023;
}
.fa-youtube {
  color: #ff0000;
}

/* # HEADER # */

header {
  text-align: center;
  font-size: 2rem;
  color: #ff9614;
  background-color: white;
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

/* # RECIPE PREVIEW # */

.page-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #4e3969;
  margin-bottom: 20px;
  margin-top: 10px;
}

.page-subtitle {
  font-weight: 300;
  font-size: 1.2rem;
  color: #999999;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.page-title-suffix {
  display: none;
}

.card {
  background-color: white;
  box-shadow: 0 0 4px 1px #00000022;
}

.card-content {
  padding: 1rem;
}

.recipe-list {
  margin-top: 1rem;
}

.recipe-list li {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* # SOCIAL # */

.social-list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.social-list li {
  background-color: white;
  box-shadow: 0 0 4px 1px #00000022;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.social-list .social-name {
  display: none;
  font-weight: bold;
  text-transform: uppercase;
}

/* # ADVERTISING # */
.banner-adv {
  display: none;
}

/* #RECIPE # */

.recipe-preview {
  width: 250px;
  margin: 10px auto;
}

.recipe-title::after {
  content: "";
  display: block;
  width: 100px;
  height: 0;
  border-bottom: 2px solid #f7972e;
  margin-top: 5px;
}

.recipe-title {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  /* UTILITY */

  .container {
    max-width: 760px;
  }

  /* # HEADER # */

  header {
    text-align: left;
    margin-left: 15px;
  }

  /* # RECIPE PREVIEW # */

  .recipe-list {
    display: flex;
    flex-wrap: wrap;
  }

  .recipe-list li {
    min-width: calc(100% / 3);
    padding-right: 1rem;
  }

  .page-title-suffix {
    display: inline;
  }

  /* # SOCIAL # */

  .social-list li {
    flex-grow: 1;
    border-radius: 1rem;
  }

  /* # ADVERTISING # */

  .banner-adv {
    display: block;
  }

  /* #RECIPE # */

  .recipe-content::after {
    content: "";
    display: table;
    clear: both;
  }

  .recipe-preview {
    float: left;
    margin-right: 10px;
  }
}

@media screen and (min-width: 992px) {
  /* UTILITY */

  .container {
    max-width: 980px;
  }

  /* # RECIPE PREVIEW # */

  .card {
    display: flex;
  }
  .card .card-content {
    min-width: 300px;
  }

  .card .card-media {
    flex-grow: 1;
  }

  .recipe-list {
    display: block;
    flex-wrap: nowrap;
  }

  .recipe-list li {
    width: auto;
    padding-right: 0;
  }

  /* # SOCIAL # */

  .social-list .social-name {
    display: inline;
  }
}
